# secrets.yml file for notes-project-deployment.yml playbook
#########################
---
django_password: xxxxx
##########
locale: ru_RU.UTF-8
postgresql_version: 14
database_engine: postgresql
database_name: notes_project
database_user: xxxxx
database_pass: xxxxx
database_host: xxx.xxx.xxx.xxx
database_port: 5432
##########
nginx_server_name: xxx.xxx.xxx.xxx
#########################
